<body>

    {{!-- <div class="row">
    <div class="col-12">
        {{#each waiterAvail}}
        <h6>{{this.days}}</h6>
        <ul>
            {{#each this.waiters}}
                <li>{{this.waiter_name}}</li>
            {{/each}}
        </ul>
        {{/each}}
    </div>
</div> --}}


    <div class="row">
        <div class="col-12">
            <div class="table">
                <div class="heading">
                    <h1>Waiters Available</h1>
                </div>
                <hr>


                <a href="/clear"><button class="button-primary btn" type="" name="button">Clear list</button></a>
                <a href="/"><button class="button-primary btn" type="" name="button">Back</button></a>

                <br>

                <div class="row">
                    <div class="col-12">
                        {{#if messages.error}}
                        <span class="flashMsg">{{messages.error}}</span>
                        {{/if}}
                    </div>
                </div>

                <br>
                <table>

                    <thead>
                        <tr>
                            {{#each list}}
                            <th style="background-color:{{this.color}}" > {{this.days}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                               {{#each list}}
                            <td>
                                {{#each this.waiters}}
                              <ul>  
                               <li> {{this}} </li>
                               
                           </ul>
                           {{/each}}
                            </td>
                            {{/each}}
                        </tr>

                        
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    </div>
</body>